/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 1, 2016, 6:33:34 AM
    Author     : Anonymous
*/
.bar {
    right: 15%;
    left: 15%;
    border: 1px solid #ddd;
    border-top: none;
}

.bar .toggle {
    position: relative;
    z-index: 20;
    margin: 5px;
    font-size: 24px;
}

.bar input{
    height: 29px;
    margin: 7px 0;
}

.bar-nav ~ .content {
    padding-top: 0;
    margin-top: 44px;
}

.bar-header-secondary ~ .content {
    padding-top: 0;
    margin-top: 88px;
}

.content {
    right: 15%;
    left: 15%;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
    background-color: #f5f5f5;
}

.segmented-control .control-item.active {
    background-color: #f5f5f5;
    color: #3473aa;
}

.toggle.active {
    background-color: #428bca;
    border: 2px solid #428bca;
}

.toggle.active .toggle-handle {
    border-color: #428bca;
}

.modal {
    left: 0;
}

.cursor-pointer {
    cursor: pointer;
}

/* HEADER */

.segmented-control-header-1 {
    max-width: 40%;
}

/* HEADER MENU */

.modal-menu {
    background: transparent;
    -webkit-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    left: auto;
    right: 15%;
    width: 30%;
    -webkit-box-shadow: -11px 0px 10px -5px rgba(0,0,0,0.27);
    -moz-box-shadow: -11px 0px 10px -5px rgba(0,0,0,0.27);
    box-shadow: -11px 0px 10px -5px rgba(0,0,0,0.27);
}

.modal-menu header,
.modal-menu .content{
    left: 0;
    right: 0
}

.modal-menu .content .content-header-menu {
    text-align: left;
    padding: 10px;
}

.modal-menu .content .content-header-menu img {
    max-height: 50px;
    max-width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

.modal-menu .content .table-view-menu .table-view-cell.active {
    background: #eee;
}
/* CONTENT */

.bar-nav-secondary ~ .content {
    margin-top: 88px;
}

/* CONTENT HEADER */

.content-header {
    position: relative;
    background: #f5f5f5;
    border-bottom: none;
    font-size: 0;
    padding: 15px;
    line-height: 28px;
}

.content-header .col {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #aaa;
}

.content-header .col-search {
    padding: 0 5%;
}

.content-header .col-search .search {
    background: #f8f8f8;
    margin: 0;
    height: 28px;
    font-size: 12px;
    text-align: center;
}

.content-header .clock {
    font-size: 9px;
}

/* HOME */

.card-home {
    background: transparent;
    border: none;
    border-radius: 0;
}

.card-home-head {
    padding-top: 60px;
    text-align: center;
    color: #555;
}

.card-home-head .logo-img {
    margin-top: 40px;
}

.card-home-body {
    text-align: center;
    margin-top: 50px;
}

.card-home-footer {
    margin-top: 50px;
    text-align: center;
    font-size: 12px;
    color: #bbb;
}

/* MATCH LIST */

.table-view-match .table-view-cell {
    font-size: 0;
}

.table-view-match .col-team,
.table-view-match .col-team .team-home,
.table-view-match .col-team .team-away,
.table-view-match .col-team .team-vs,
.table-view-match .col-detail {
    display: inline-block;
    vertical-align: top;
    float: none;
    font-size: 13px;
    text-align: center;
    line-height: 50px;
}

.table-view-match .col-team {
    width: 75%;
    text-align: left;
    font-size: 0;
}

.table-view-match .col-team .team-home {
    text-align: right;
    width: 40%;
}

.table-view-match .col-team .team-away {
    text-align: left;
    width: 40%;
}

.table-view-match .col-team .team-vs {
    text-align: center;
    width: 19%;
}

.table-view-match .col-detail {
    line-height: 25px;
    background-color: #3da13d;
    color: #fff;
    border: 1px solid green;
    border-radius: 3px;
    width: 25%;
}

.table-view-match .col-detail .icon-live {
    padding-top: 10px;
    color: yellow;
}

.img-team {
    position: relative;
    width: 50px;
    height: 50px;
    float: left;
    background: #e4e4e4;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.table-view-match .team-home .img-team {
    float: right;
    margin-left: 15px;
}

.table-view-match .team-away .img-team {
    margin-right: 15px;
}

.img-team img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 95%;
    max-width: 95%;
}

.card-no-match {
    padding: 40px;
    color: #bbb;
    text-align: center;
}

.table-view-match .table-view-cell-spinner {
    text-align: center;
    padding: 40px 0;
}

.table-view-match .navigate-right::after, .push-right::after {
    font-size: 20px;
}

/* WATCH */

.bar-watch {
    left: 0;
    right: 0;
}

.segmented-control-watch {
    max-width: 20%;
}

.title-watch {
    color: #000;
    /*text-shadow: 0 0 10px #09c;*/
}
.title-watch strong {
    color: #000;
}

.card-watch {
    border-radius: 0;
}

.content-watch {
    left: 0;
    right: 0;
    background-color: #111;
    border-color: #000;
    font-size: 0;
}

.content-watch .content-watch-body {
    position: relative;
    height: 100%;
    width: 70%;
    display: inline-block;
    vertical-align: top;
}
.content-watch .content-watch-body.fit {
    width: 100%;
}

.frame-watch {
    border: none;
    background: #000;
    width: 400px;
    height: 300px;
    box-shadow: none;
    -webkit-box-shadow: none;
    position: absolute;
    left: -1030px;
    right: -1030px;
    top: -1030px;
    bottom: -1030px;
    margin: auto;
    box-shadow: 0 0 15px #000;
    overflow: hidden;
}

.content-watch-body .spinner,
.content-watch-body .alert-watch {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
}

.content-watch-body .alert-watch {
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 17px;
}

.content-watch .content-watch-sidebar {
    width: 30%;
    display: inline-block;
    vertical-align: bottom;
    background: #fff;
    height: 100%;
}

.coming-soon-layer {
    font-size: 15px;
    color: #fff;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    line-height: 60px;
    z-index: 1;
    text-align: center;
    margin: auto;
    background: #000;
    background: RGBA(0, 0, 0, 0.89);
    width: 60%;
    border-radius: 5px;
}

/* CHAT */

.chatbox {
    position: relative;
    width: 100%;
    height: 100%;
}

.chatbox .chatbox-body {
    position: relative;
    width: 100%;
    height: 90%;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    padding-top: 20px;
    overflow: auto;
    background-color: #fff;
    background-image: url("../images/ap/supporters.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: 100%;
}

.chatbox .chatbox-body .box-message {  
    word-wrap: break-word;
    font-size: 0;
    overflow: auto;
}

.chatbox .chatbox-body .box-message:nth-child(odd) {
   /*background-color: #fcfcfc;*/
}

.chatbox .chatbox-body .box-message .team-logo {
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    max-width: 20%;
}

.chatbox .chatbox-body .box-message .team-logo img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.chatbox .chatbox-body .box-message .message-detail {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    word-wrap: break-word;
    overflow: hidden;
    width: 80%;
    padding: 9px 0;
}

.chatbox .chatbox-body .no-messages {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    color: rgb(170, 170, 170);
    padding-top: 50%;
}
.chatbox .chatbox-body .img-attr {
    width: 100%;
    position: absolute;
}
.chatbox .chatbox-body .no-messages .icon {
    padding-top: 20px;
    font-size: 50px;
}

.chatbox .chatbox-footer {
    position: relative;
    width: 100%;
    height: 10%;
}

.chatbox .chatbox-footer .form-send {
    height: 100%;
    width: 100%;
}

.chatbox .chatbox-footer .form-send .textbox {
    width: 85%;
    height: 100%;
    background: #eee;
    border: none;
    margin: 0;
    float: left;
    border-radius: 0;
}

.chatbox .chatbox-footer .form-send button {
    width: 15%;
    height: 100%;
    border-radius: 0;
}

.chatbox .chatbox-auth {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
    z-index: 1;
    padding-top: 20%;
    font-size: 15px;
    text-align: center;
}

.chatbox-auth .tm-auth {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.chatbox-auth .tm-auth .tm-img,
.chatbox-auth .tm-auth .tm-vs {
    position: relative;
    width: 60px;
    height: 60px;
    display: inline-block;
    line-height: 60px;
    vertical-align: top;
}

.chatbox-auth .tm-auth .tm-img:hover {
    opacity: 0.8;
}

.chatbox-auth .tm-auth .tm-img img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}


/* LOADER SPINNER */

@keyframes rotate360 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@-webkit-keyframes rotate360 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.spinner {
    display:inline-block;
    border-radius: 50px;
    border-style: solid;
    border-bottom-color: #3b5641;
    border-top-color: #67b3a9;
    border-left-color: #df7950;
    border-right-color: #decb3f;
    text-align: center;
    vertical-align: middle;
    position: relative;
    animation: rotate360 1s linear infinite;
    -webkit-animation: rotate360 1s linear infinite;

    border-width: 4px;
    width: 24px;
    height: 24px;
}


/* ================ ON MOBILE ================ */

@media only screen and (max-width: 1030px) {
    
    .bar {
        right: 0;
        left: 0;
        border: none;
    }

    .content {
        right: 0;
        left: 0;
        border: none;
    }
    
    /* HEADER MOBILE */
    
    .segmented-control-header-1 {
        max-width: 80%;
    }
    
    /* HEADER MENU */
    
    .modal-menu {
        right: 0;
        width: 100%;
    }
    
    /* CONTENT HEADER */
    
    .content-header .col-title {
        display: none;
    }
    
    .content-header .col-search {
        width: 50%;
        padding: 0;
    }
    
    .content-header .col-clock {
        width: 50%;
    }
    
    /* MATCH LIST MOBILE */
    
    .table-view-match .table-view-cell {
        padding: 10px;
    }
    
    .table-view-match .table-view-cell > a:not(.btn) {
        padding: 0;
        margin: 0;
    }
    
    .table-view-match .col-team {
        width: 100%;
        text-align: center;
        padding: 10px;
        border: 1px solid #3da13d;
        border-top: none;
        border-radius: 0 0 3px 3px;
        line-height: 40px;
    }
    
    .table-view-match .col-team .team-home .team-home-name,
    .table-view-match .col-team .team-away  .team-away-name {
        display: none;
    }
    
    .table-view-match .col-team .team-vs {
        line-height: 40px;
    }
    
    .table-view-match .col-detail {
        width: 100%;
        border-radius: 3px 3px 0 0;
    }
    
    .img-team {
        width: 40px;
        height: 40px;
    }
    
    .table-view-match .navigate-right::after, .push-right::after {
        display: none;
    }
    
    /* WATCH */
    
    .title-watch {
        display: none;
    }
    
    .segmented-control-watch {
        max-width: 50%;
    }
    
    .frame-watch {
        transform: scale(0.3);
    }
    
    .content-watch .content-watch-sidebar {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        width: 100%;
        height: 100%;
    }
    
}

/* ANIMATION */

.animation-heart-beat {
    -webkit-animation:heart-beat 1s linear infinite;
    -moz-animation:heart-beat 1s linear infinite;
    -ms-animation:heart-beat 1s linear infinite;
    animation:heart-beat 1s linear infinite;
}

@keyframes heart-beat {
    0% {
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -o-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1)
    }
    50% {
        -webkit-transform:scale(0.85);
        -moz-transform:scale(0.85);
        -o-transform:scale(0.85);
        -ms-transform:scale(0.85);
        transform:scale(0.85)
    }
    100% {
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -o-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1)
    }
}
@-moz-keyframes heart-beat {
    0% {
        -moz-transform:scale(1);
        transform:scale(1)
    }
    50% {
        -moz-transform:scale(0.85);
        transform:scale(0.85)
    }
    100% {
        -moz-transform:scale(1);
        transform:scale(1)
    }
}
@-webkit-keyframes heart-beat {
    0% {
        -webkit-transform:scale(1);
        transform:scale(1)
    }
    50% {
        -webkit-transform:scale(0.85);
        transform:scale(0.85)
    }
    100% {
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@-ms-keyframes heart-beat {
    0% {
        -ms-transform:scale(1);
        transform:scale(1)
    }
    50% {
        -ms-transform:scale(0.85);
        transform:scale(0.85)
    }
    100% {
        -ms-transform:scale(1);
        transform:scale(1)
    }
}





