/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 1, 2016, 6:33:34 AM
    Author     : Anonymous
*/
.bar {
    right: 15%;
    left: 15%;
    border: 1px solid #ddd;
    border-top: none;
}

.content {
    right: 15%;
    left: 15%;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
    background-color: #f5f5f5;
}

.cursor-pointer {
    cursor: pointer;
}

/* HEADER */

.segmented-control-header-1 {
    max-width: 40%;
}

/* HOME */

.card-home {
    background: transparent;
    border: none;
    border-radius: 0;
}

.card-home-head {
    padding-top: 60px;
    text-align: center;
    color: #555;
}

.card-home-head .logo-img {
    margin-top: 40px;
}

.card-home-body {
    text-align: center;
    margin-top: 50px;
}

/* MATCH LIST */

.table-view-match .team-home,
.table-view-match .team-away,
.table-view-match .team-vs,
.table-view-match .col{
    display: inline-block;
    vertical-align: top;
    float: none;
    font-size: 13px;
    width: 25%;
    text-align: center;
    line-height: 50px;
}

.table-view-match .team-vs {
    width: 5%;
    text-align: center;
}

.img-team {
    position: relative;
    width: 50px;
    height: 50px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.table-view-match .team-home .img-team {
    float: right;
}

.img-team img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

.card-no-match {
    padding: 40px;
    color: #bbb;
    text-align: center;
}

/* WATCH */

.bar-watch {
    left: 0;
    right: 0;
}

.content-watch {
    left: 0;
    right: 0;
    background-color: #111;
    border-color: #000;
}

.segmented-control-watch {
    max-width: 20%;
}

.title-watch {
    color: #000;
    /*text-shadow: 0 0 10px #09c;*/
}
.title-watch strong {
    color: #000;
}

.card-watch {
    border-radius: 0;
}

.iframe-watch {
    border: none;
    background: #222;
    width: 400px;
    height: 300px;
    box-shadow: none;
    -webkit-box-shadow: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 0 15px #000;
}

/* LOADER SPINNER */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

@keyframes rotate360 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@-webkit-keyframes rotate360 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.spinner {
    display:inline-block;
    border-radius: 50px;
    border-style: solid;
    border-bottom-color: #3b5641;
    border-top-color: #67b3a9;
    border-left-color: #df7950;
    border-right-color: #decb3f;
    text-align: center;
    vertical-align: middle;
    position: relative;
    animation: rotate360 1s linear infinite;
    -webkit-animation: rotate360 1s linear infinite;

    border-width: 4px;
    width: 24px;
    height: 24px;
}


/* ================ ON MOBILE ================ */

@media only screen and (max-width: 1030px) {
    
    .bar {
        right: 0;
        left: 0;
        border: none;
    }

    .content {
        right: 0;
        left: 0;
        border: none;
    }
    
    /* LIVE MOBILE */
    
    .table-view-match .team-home,
    .table-view-match .team-away,
    .table-view-match .team-vs {
        width: auto;
        line-height: 40px;
    }
    
    .table-view-match .team-home .team-home-name,
    .table-view-match .team-away .team-away-name {
        display: none;
    }
    
    .img-team {
        width: 40px;
        height: 40px;
    }
    
}





