<ng-include src="'partials/header_1.html'" class="bar bar-nav"></ng-include>
<div class="content">
    <div class="card card-home">
        <div class="card-home-head">
            <span class="h1"><b>Hi, I'm</b></span>
            <div class="logo-img">
                <img src="images/ap/app-logo-300.png" title="nobar"/>
            </div>
            <h1 class="h5">awesome live & highlight football streaming app.</h1>
        </div>
        <div class="card-home-body">
            <div class="col-download">
                <span class=cd-title>Download</span>
                <br/>
                <a ng-href="https://doc-0o-b4-docs.googleusercontent.com/docs/securesc/c7vr4de18epikrjsrqm160inusg6s7l9/ces5irabkr0cui6go22aibnqv6qe14u0/1489435200000/03309008116766810916/03309008116766810916/0B2xjQ4obRNG9V0tZOFl4WnhFZzA?e=download&nonce=occodoelprqna&user=03309008116766810916&hash=c0ln0s0b4g57d91jrdv12pplt1ch0gg8" target="_blank" class="btn btn-positive">
                    <span class="icon ion-social-android"></span>
                </a>
            </div>
        </div>
        <div class="card-home-footer">
            <span>&COPY; 2016</span>
        </div>
    </div>
</div>
