<ng-include src="'partials/header_1.html'" include-replace></ng-include>
<div class="content">
    <div class="card card-home">
        <div class="card-home-head">
            <span class="h1"><b>Hi, I'm</b></span>
            <div class="logo-img">
                <img src="images/ap/app-logo-300.png" title="nobar"/>
            </div>
            <h1 class="h5">awesome live & highlight football streaming app.</h1>
        </div>
        <div class="card-home-body">
            <a href="#live" class="btn btn-positive">Watch Now</a>
        </div>
    </div>
</div>
