<div class="card" ng-hide="matchs.length<=0 || error">
    <ul class="table-view table-view-match">
        <li class="table-view-cell" ng-repeat="match in matchs | filter : $root.queryMatchs | orderBy:matchorderby track by $index" >
            <a class="push-right" href="#!/watch/{{match.mid}}/1">
                <div class="col-detail">
                    <div class="icon-live" ng-show="iconlive == true">
                        <span class="icon ion-android-wifi animation-heart-beat"></span>
                    </div>
                    <span>
                        <b>{{match.mco.name}}</b>
                        <br>
                        {{match.msd | date:'medium'}}
                        <br>
                        {{match.msdRT}}
                    </span>
                </div>
                <div class="col-team">
                    <div class="team-home">
                        <span class="team-home-name">{{match.mth.tnm}}</span>
                        <div class="img-team">
                            <img ng-src="{{$root.imageTeamBase}}{{match.mth.tlg}}" />
                        </div>
                    </div>
                    <div class="team-vs">
                        <strong>{{match.mgh}} v {{match.mga}}</strong>
                    </div>
                    <div class="team-away">
                        <div class="img-team">
                            <img ng-src="{{$root.imageTeamBase}}{{match.mta.tlg}}" />
                        </div>
                        <span class="team-away-name">{{match.mta.tnm}}</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="table-view-cell-spinner" ng-hide="loaded">
            <a><span class="spinner"></span></a>
        </li>
    </ul>
</div>
<div class="card card-no-match" ng-show="matchs.length<=0">No data.</div>
<div class="card card-no-match" ng-show="error">
    {{error}}
    <br>
    <a class="btn btn-primary" ng-click="reload()">
        <span class="icon icon-refresh"></span> Reload
    </a>
</div>
