<div class="modal modal-menu" ng-class="{active : $root.modalMenu}" ng-show="$root.modalMenu">
    <header class="bar bar-nav">
      <a class="icon icon-close pull-right cursor-pointer" ng-click="$root.modalMenu=false"></a>
      <h1 class="title">Menu</h1>
    </header>

    <div class="content">
        <div class="content-header-menu">
            <img src="images/ap/icon.png" />
            Hi, what do you need ?
        </div>
        <ul class="table-view table-view-menu">
            <li class="table-view-cell table-view-divider">Download</li>
            <li class="table-view-cell-download tvcd-android">
                <a href="{{$root.androidApk}}" target="_blank" class="tvdc-col tvcd-android">
                    <span class="icon ion-social-android"></span>
                </a>
                <a target="_blank" class="tvdc-col tvcd-apple">
                    <span class="icon ion-social-apple"></span>
                    <span class="tvcd-label">soon</span>
                </a>
                <a target="_blank" class="tvdc-col tvcd-windowsphone">
                    <span class="icon ion-social-windows"></span>
                    <span class="tvcd-label">soon</span>
                </a>
            </li>
            <li class="table-view-cell table-view-divider">Rules</li>
            <li class="table-view-cell" ng-class="{active: $root.activetab == 'privacy'}">
                <a href="#!/privacy" class="navigate-right">
                    Privacy
                </a>
            </li>
            <li class="table-view-cell" ng-class="{active: $root.activetab == 'policyandsafety'}">
                <a href="#!/policyandsafety" class="navigate-right">
                    Policy & safety
                </a>
            </li>
            <li class="table-view-cell" ng-class="{active: $root.activetab == 'contactus'}">
                <a href="#!/contactus" class="navigate-right">
                    Contact us
                </a>
            </li>
        </ul>

    </div>
</div>