<ng-include src="'partials/header_1.html'" class="bar bar-nav"></ng-include>
<div class="content">
    <div class="content-padded">
        <h1 class="h3">Policy & Safety</h1>
        <h2 class="h4">Log Files</h2>
        <p>
            We use IP addresses to analyse trends, administer the site, track user’s movement, and gather broad demographic 
            information for aggregate use. IP addresses are not linked to personally identifiable information. Additionally, 
            for systems administration, detecting usage patterns and troubleshooting purposes, our web servers automatically 
            log standard access information including browser type, access times/open mail, URL requested, and referral URL.
            This information is not shared with third parties and is used only within this Company on a need-to-know basis. 
            Any individually identifiable information related to this data will never be used in any way different to that 
            stated above without your explicit permission.
        </p>
        <h2 class="h4">Cookies</h2>
        <p>
            Like most interactive web sites this Nontontvnet.com's website uses cookies to enable us to retrieve user 
            details for each visit.
        </p>
    </div>
</div>