<ng-include src="'partials/header_1.html'" class="bar bar-nav"></ng-include>
<div class="content">
    <div class="content-padded">
        <h1 class="h3">Privacy Statement</h1>
        <p>
            We are committed to protecting your privacy. Authorized employees within the company on a need to know basis 
            only use any information collected from individual customers. We constantly review our systems and data to ensure 
            the best possible service to our customers. Parliament has created specific offences for unauthorised actions 
            against computer systems and data. We will investigate any such actions with a view to prosecuting and/or taking 
            civil proceedings to recover damages against those responsible.
        </p>
    </div>
</div>