<ng-include src="'partials/header_1.html'" include-replace></ng-include>
<div class="content">
    <div class="card card-home">
        <div class="card-home-head">
            <h1>Hi, I'm</h1>
            <div class="logo-img">
                <img src="images/app/app-logo-300.png" title="nobar"/>
            </div>
            <h2 class="h5">awesome live & highlight football streaming app.</h2>
        </div>
        <div class="card-home-body">
            <a href="#live" class="btn btn-positive">Watch Now</a>
        </div>
    </div>
</div>
